/* ID=(#)  y clases=(.), (gato y punto respectivamente) */

h2 a { color:#FF3333;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-decoration: none;
}


.section2 {
  background: #E9F9F6;
  width:900;
  margin-left: auto;
  margin-right: auto;
  border:2px solid #ccc;
  text-decoration:none;
  display: block;
  padding: 0 20px;
  border-radius: 15px;
}

.search {
  border-radius: 15px;
}

.contenedor {
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.title p {text-align: center;}
.ide {text-align: center;}

.article {
    background-color: #C4C5C8 ;
    font: 100% sans-serif;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 20px;
    border: grey 1px solid;
    border-radius: 15px;
}


h4 b { 
    color:#115858;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	font: 100%
    color: #FFFFFF;
}


/*
 align_label {
  text-align: center;
}

p {
  	justify-content: center;
    align-items: right;    
    text-align: right;
 }

*/

p label u {
    text-align: right;
    position: absolute;
}




/*
.footer a {
  color: #FFFFFF;
}
*/

.tit_table {
  color: #FFFFFF;
  background-color: #5369F4 ;
  text-align: center;
}

aside {
  width: 20%;
  border-right-width: 1px;
}

.form1 {
  color: #FFFFFF;
  background-color: #5369F4 ;
  text-align: center;
}

id_nombre {
    width: 1000px;
    height: 200px;
    background-color: #5369F4 ;
}

.abc {
    background-color: #414142 ;
}

.aindex {
  text-align: center;
  position: relative;
}

.enlace {
  { text-decoration: True; }
}

#sticky-footer {
  background-color: #060A7C ;
  flex-shrink: none;
}

.th_acciones {
  text-align: center;
}

.error1 {
  color: #CA0413;
}

/* relativos a la pantalla de logeo */
  .login-form {
    width: 385px;
    margin: 30px auto;
  }
    .login-form form {        
      margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .login-btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .input-group-addon .fa {
        font-size: 18px;
    }
    .login-btn {
        font-size: 15px;
        font-weight: bold;
    }
  .social-btn .btn {
    border: none;
        margin: 10px 3px 0;
        opacity: 1;
  }
    .social-btn .btn:hover {
        opacity: 0.9;
    }
  .social-btn .btn-primary {
        background: #507cc0;
    }
  .social-btn .btn-info {
    background: #64ccf1;
  }
  .social-btn .btn-danger {
    background: #df4930;
  }
    .or-seperator {
        margin-top: 20px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: #f7f7f7;
        position: relative;
        top: -11px;
        z-index: 1;
    }   


#div1_id,
#div12_id { background: #62BF54;}

.search-query {
    /*-webkit-border-radius: 5px; */
    /* border-radius: 2px; */
}

th {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#notas {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.napod {
  background: #FFFFFF;
}  


input [type]="file" #div99_id {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}

input[type=file].hidden {
  color: transparent;
}


#table td:first-child {
  width: 150px;
}

#table {
    table-layout: fixed;
    width: 250px;
}

.tablita .columna1 {
  display: grid;
  grid-template-columns: 130px 30px;
 }

.grid .columna1 {
  display: grid;
  grid-template-columns: 130px 30px;
 }


#extran[disabled]{
     background: #D4D4D4;     
}

.container {
  background: #E9F9F6;
  width:900;
  margin-left: auto;
  margin-right: auto;
  border:2px solid #ccc;
  text-decoration:none;
  display: block;
  padding: 0 20px;
  box-shadow: 0 0 10px #000,
  border-radius: 15px;
 }


.container2 {
  border: 1px solid #000;
  height: 380px;
  margin: 1 auto;
  width:50;
}


#map {
  height: 80%;
  width: 50%;
}

/* Optional: Makes the sample page fill the window. */



html,body {
  height: 100%;
  margin: 45;
  padding: 0;
}


.table .td {
  background-color: #95DE93;
}


/*
.titulo_aux {
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}    
*/

.section {
  background: #E9F9F6;
  width:900;
  margin-left: auto;
  margin-right: auto;
  border:2px solid #ccc;
  text-decoration:none;
  display: block;
  padding: 0 20px;
  border-radius: 15px;
}

.section_flex {
  display: flex;  /* se generan los 2 ejes */
  flex-wrap:wrap;
  justify-content: flex-end; /* justifica a la derecha los items dentro de la caja padre */
  background-color: #E9F9F6 ;
  font-size:18px;
  line-height: 3;
  width:900;
  margin:auto;  /* centra el contenedor padre c/respecto a la pantalla html */
  bottom: 0;
  height: 100px;
  border-radius: 15px;
  align-items:center;   /*  alinea verticalemnte los items dentro de la caja padre */
  align-items: baseline;  /* todos los textos de los items quedan alineados por la base */
}

.titulo_aux {
  color:#098979;  /* color del texto */
  width: 700;     /* ancho de la cajita que contiene el item */
  height: 50px;   /* alto de la cajita que contiene el item */
  align:center;   /* alinea el texto en la cajita del item */
  padding: 20px;  /* distancia que hay entre el item y el borde del contenedor */
  /*background-color: #9699A9; /* color de la cajita del item */
  text-align: center;
  text-shadow: 1px 1px 1px #ccc;
}

.nombre_usuario {
  font-size:12px;
  color:#A5B1AC;  /* color del texto del item */
  width: 100;
  /*background-color: #F5F592; /* color de la cajita del item */
  text-align: center;
}

.footer {
  display: flex;    /* se generan los 2 ejes */
  flex-wrap:wrap;
  background-color: #098979 ; /* color del contenedor padre */
  bottom: 10;
  width: 65%; 
  height: 70px;   /* alto de la caja padre */
  border-radius: 15px;
  margin:auto;  /* centra el contenedor padre c/respecto a la pantalla html */
  align-items:center; /* alinea verticalemnte los items dentro de la caja padre */
  justify-content:center; /* alinea horizontalmente los items dentro de la caja padre */
}

.texto_footer {
  font-size:14px; 
  color:#FFFFFF; 
  width: 600;
  text-align: center;
  /* background-color: #F9B4B4; /* color fondo de la cajita del item */
}


/*
.bars::before,.bars::after {
background: #999;
center:"";
display: inline-block;
height:2px;
position: absolute;
width:18px;
}
*/

/* notas */
/* padding: 25px 50px 75px 100px; */
/* top, right, bottom, left */
