{% extends 'plantilla_base.html' %}
{% load static %}

{% block content %}
    <section class='section'>

    <d>
      <p align="right"><u><a href="{% url 'principal' %}">Inicio</a></u></p>
    </d>
 
    {% if error_new == "error1" %}
        <p class="error1">Se han eliminado {{x}} registros !!</p>
    {% endif %}

    <table border="0">
    <tbody>    
    <tr>
        <td width="240"  valign="top">   
        <aside class="col-xs-12 col-md-3">  
        <div  class="btn-group-vertical">
            <!-- <h3 class="hidden-xs">Accesos</h3> -->
                   
            <a class="btn btn-primary" href="{% url 'info' %}" role="button" style="margin: 5px">Liquidacion mensual Cuidadores</a>

            <a class="btn btn-primary" href="{% url 'info_mensual' %}" role="button" style="margin: 5px">Resumen de Prestaciones</a>

            <a class="btn btn-primary" href="{% url 'altacondeuda' %}" role="button" style="margin: 5px">Deudores</a>

            <a class="btn btn-primary" href="{% url 'grid_cheques' %}" role="button" style="margin: 5px">Documentos de pago</a>
            

            {% if request.user.is_superuser %}
            <a class="btn btn-primary" href="{% url 'grid_login' %}" role="button" style="margin: 5px" title="Fecha y hora de acceso">Acceso de Usuarios</a>
            {% endif %}

            <a class="btn btn-primary" href="{% url 'acercade' %}" role="button" style="margin: 5px" title="Identificación de autoria y desarrollador">Acerca de</a>


        </div>
        </aside>
        </td>

        <td width=350 >   
        <div>
       
           <img  class="center-block" src="{{ logo_corp }}" width="300" height="200" border:3px/>
        </div>
        </td>

    </tr>    
    </tbody>
	</table>
    <br>
    <br>
    <br>
    </section>   
{% endblock %}  

