{% extends 'plantilla_base.html' %}
{% block content %}
{% load humanize %}
	<section class='section2'>
		<form id="form_anticipos" method="POST" action="#" onsubmit="return ValidaFicha_anti()";>
		{% load widget_tweaks %} 			
 		{% csrf_token %}

		<d><p align="right">
			<u>
				<a href="{% url 'grid_anticipos' %}">Todos los anticipos </a>
				<a href="{% url 'grid_pacientes' %}"> / Regresa</a>
			</u>
			</p>
		</d>

		<d><p align="right">
		<u>
		<a onclick="alert('ADVERTENCIA:\nTodo ABONO INICIAL del paciente será considerado por el tema a partir de la fecha de inicio <fecha de ingreso o reingreso>, por lo tanto,  ABONOS INICALES historicos hacia atrás que tenga el paciente no se verán reflejados el presente período.')"> Ayuda</a>
		</u>
		</d>

		<div class="grid">
		<table class="table table-striped" border = '0'>	
		<tbody>		
		    {% if error_new == "error1" %}
    	    	<p class="error1">Paciente ya tiene una ABONO INICIAL. El registro NO ha sido grabado !!</p>
        	{% endif %}

			<tr>
				<td class="columna1">R.U.T. Paciente:</td>
				<td>
					<d  class="columna2">
					{{rut_anticipos}}
					</d>

					<d  style="color: #ff0000;">
					{{nombre_paciente}}
					</d>
		
				</td>

			</tr>

			<tr>
				<td class="columna1">Fecha digitación:</td>
				<td align="Left">
					<d>
					{{fecha_actual}}
					</d>
				</td>
			</tr>

			<tr>
				<!-- td de la fecha MM-AAAA -->
				<td class="columna1">Periodo abono:</td>
				<td align="Left">
					<select	name="mes" id = "mes" tabindex="1">
					{% for meses_var in meses %}
						{% if meses_var == mes_hoy %}
							<option value ="{{forloop.counter0}}" selected='selected'>	{{meses_var}}</option>
						{% else %}
							<option value ="{{forloop.counter0}}" >{{meses_var}}</option>
						{% endif %}
					{% endfor %}
					</select>

					<select	name="ano" id = "ano" tabindex="2">
					{% for ano_var in ano %}
						{% if ano_var == ano_hoy %}
							<option value ="{{ ano_var}}" selected='selected'>{{ano_var}}</option>
						{% else %}
							<option value ="{{ano_var}}">{{ano_var}}</option>
						{% endif %}
					{% endfor %}
					</select>
					Mes al que se imputa el pago, anticipo o abono
				</td>
			</tr>

			<tr>
				<td class="columna1">Monto abonos $:</td>
				<td align="Left">
					<d>
					{{form_anti.valor|attr:'tabindex:3'|attr:'id:valor'|attr:'onblur:separadordemiles(this)'|attr:'required'}}
					</d>
					
					<br>
					Pago Normal
					<input type="radio" name="sw_abono" value="0" required>	
					Abono Inicial			
					<input type="radio" name="sw_abono" value="1" required>				
				</td>
			</tr>

			<tr>
			<td class="columna1">Tipo de abono</td>
			<td>
				<select	name="abon" tabindex="4" id="abon" style="width:80px">
				{% for abo in abon %}
					{% if abo.codigo == var_abon %}
						<option value ="{{abo.codigo}}" selected = "selected">{{abo.descrip}}</option>
						{% else %}	
							<option value ="{{abo.codigo}}">{{abo.descrip}}</option>
						{% endif %}
					{% endfor %}			
				</select>

				Cheq.num.:
				{{form_anti.cheque|attr:'size:9'|attr:'tabindex:27'|attr:'id:cheque'}}
				Bco:
					
				<select	name="banco" tabindex="28" id="banco" style="width:150px">
				{% for bco in banco %}
					{% if bco.codigo == var_banco %}
						<option value ="{{bco.codigo}}" selected = "selected">{{bco.descrip}}</option>
					{% else %}	
						<option value ="{{bco.codigo}}">{{bco.descrip}}</option>
					{% endif %}
				{% endfor %}			
				</select>

			</td>
			</tr>

			<tr>
				<td class="columna1">Fecha cheque:</td>
				<td align="Left">
				<d>{{form_anti.fecha_cheque|attr:'id:fecha_cheque'|attr:'placeholder:aaaa-mm-dd'|attr:'size:10'|attr:'onblur: return validarFormatoFecha3()'}}</d>
				</td>
			</tr>


			<tr>
				<td class="columna1">Boleta:</td>
				<td align="Left">
					<d>
					{{form_anti.boleta|attr:'tabindex:5'|attr:'id:boleta'}}
					</d>
				</td>
			</tr>

			<td class="columna1">Observaciones</td>
				<td>
				<d>
				{{form_anti.notas|attr:'width:300'|attr:'size:60'|attr:'id:notas'|attr:'tabindex:5'|attr:'cols:60'|attr:'rows:3'|attr:'placeholder:Escribe tu comentario aqui'}}
				</d>
				</td>
			</tr>

		</tbody>
		</table>
		</div>
		<br>
		<span id='span1'><span>

		{% if perms.ai.btn_acep_fichaant %}
			<button type="submit" id="submit" name = "submit" class="btn btn-primary">Aceptar</button>
		{% else %}
			<a style="font-size:14px" role="button" class="btn btn-primary" onclick="alert('Usted no está autorizado a grabar cambios en esta ficha')">Aceptar</a>		
		{% endif %}

		</form>
	</section>
{% endblock %}
