{% extends 'plantilla_base.html' %}
{% block content %}
{% load humanize %}
	<section class='section2'>
		{% if not user.is_authenticated %} 
            <a href="{% url 'login_ini' %}">
        {% endif %}

			<form method='POST' action="#">
			{% csrf_token %}

 			<table border="0">
				<tr> <!-- AYUDA -->
				{% if variable2 == '' %}
				<td width="800" align="right">
				<u>
					<a onclick="return ayuda1();"> Ayuda /</a>
				</u>
				</td>
				{%else%}
					<td width="800" align="right">
					<u></u>
					</td>
				{%endif%}

				<!-- REGRESA A PANTALLA ANTERIOR -->
				<td width="100" align="right">
				<u>
					<a align="right" href="{% url 'grid_pacientes' %}">Regresa /</a>
				</u>
				</td>

				<!-- REGRESA AL INICIO -->
				<td width="50" align="right">
				<u>
					<a align="right" href="{% url 'principal' %}">Inicio</a>
				</u>
				</td>
				</tr>
			</table>

			{% if nuevo_pac != 1 %}
			<!-- boton oculta - muestra TABLE -->
			<tr>
			<td>	
			<p href="#" onclick="oculta_muestra()" class="btn btn-primary" title ="Clic, despliega / esconde">Seleccione Listado para este paciente</p>
			</td>
			</tr>
 			<div id="div1" style="display: none"> <!--comienza con tabla oculta, funcion JS oculta_muestra()-->
			<table border="0" class="table table-striped">
			<!-- IMPRESOS -->
				<tr> 
				<td>	
				<a href="{% url 'repo1' %}" onclick="oculta()" target="_blank"> *Contrato de Prestacion de Servicios</a>
				</td>
				</tr>

				<tr>
				<td>
				<a href="{% url 'ingresopaciente' %}" onclick="oculta()" target="_blank">* Informe Ingreso paciente</a>
				</td>
				</tr>

				<tr>
				<td>
				<a href="{% url 'axo3' %}" onclick="oculta()" target="_blank">* Anexo 3: Notificación de Eventos adversos (EA)</a>
				</td>
				</tr>

				<tr>
				<td>
				<a href="{% url 'gestionremota' %}" onclick="oculta()" target="_blank">* Gestión Remota de pacientes CIMAS + D (FUNCIONAL)</a>
				</td>
				</tr>


				<tr>
				<td>
				<a href="{% url 'gestionremota2' %}" onclick="oculta()" target="_blank">* Gestion Remota de Pacientes CIMAS + D (COGNITIVA)</a>
				</td>
				</tr>

				<tr>
				<td>
				<a href="#" onclick="oculta()" target="_blank">Gestion Remota de Pacientes CIMAS + D (ADS-Ch)</a>
				</td>
				</tr>


				<tr>
				<td>
				<a href="{% url 'testdelta' %}" onclick="oculta()" target="_blank">*Test Delta</a>
				</td>
				</tr>

				<tr>
				<td>
				<a href="{% url 'regdiario' %}" onclick="oculta()" target="_blank">*Registro diario</a>
				</td>
				</tr>

				<tr>
				<td>
				<a href="{% url 'antecedente' %}" onclick="oculta()" target="_blank">*Anexo 1: Registro Visita Enfermeria</a>
				</td>
				</tr>

				<tr>
				<td>
				<a href="#" onclick="oculta()" target="_blank">Control MENSUAL de entrada-salida de cuidador</a>
				</td>
				</tr>

				<tr>
				<td>
				<a href="#" onclick="oculta()" target="_blank">Escala de la medida de la lesión PERINEAL</a>
				</td>
				</tr>

			</table>
			</div>

			</form>
			{% endif %}
			<!--FIN IMPRESOS -->

		<form id="form" name="form" method="POST" action="#" onsubmit="return ValidaFichapac();"> 
			{% load widget_tweaks %} 			
 			{% csrf_token %}
			<!-- muestra mensajes de error creado en la VIEWS.PY -->
			{% if messages %}
    			<ul class="messages">
        		{% for message in messages %}
        			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        		{% endfor %}
    			</ul>    
			{% endif %}
			<!-- FIN muestra mensajes de error creado en la VIEWS.PY -->		

		<div class="grid">
			<table border = '0' class="table table-striped" style="font-size:14px; color:#098979">  
		    {% if error_new == "error1" %}
    	    	<p class="error1">R.U.T. de Paciente ya existe !!</p>
        	{% endif %}
			<tr>
				<td class="columna1" id="first-child">R.U.T.:</td>
				<td>

					<!--
					<d>
					{% if variable2 == 'modifica_rut' %}	
						{{ form.rut|attr:'size:10'|attr:'id:rut'|attr:'onblur:return validarut()'|attr:'onchange:upperCase()'|attr:'placeholder:9999999-9'|attr:'requiered:True'|attr:'tabindex:1'}}
					{% else %}
						{{form.rut|attr:'id:rut'|attr:'size:10'|attr:'readonly:True'}} 
					{% endif %}
					</d>
					-->

					<d>
						{{form.rut|attr:'id:rut'|attr:'size:10'|attr:'readonly:True'}} 
					</d>	

					{% if nuevo_pac != 1 %}						
					<d>{{form.estado|attr:'type:checkbox'}} Pasivo</d>	
					<d>	
					{{form.fe_alta|attr:'id:fe_alta'|attr:'size:17'|attr:'type:text'|attr:'placeholder:aaaa-mm-dd'|attr:'tabindex:17'|attr:'onblur:return validarFormatoFecha4("fe_alta")'}} alta
					</d>
					{%endif%}					

				</td>

			</tr>
			
			<tr>
				<td>Nombre paciente</td> 
				<td>
					<d>{{ form.nombre|attr:'size:40'|attr:'onkeyup:mayuscula(this)'|attr:'placeholder:paterno materno nombres'|attr:'id:nombre'|attr:'required:True'|attr:'tabindex:2'}}
					</d>
					
					{% if nuevo_pac == 0 %}
					<u><a href="{% url 'Ficha_anticipos' %}">Anticipos-Abonos</a></u>
					<u><a href="{% url 'grid_receta' %}"> / Receta</a></u>
					{% endif %}

					<!--
					{% if variable2 == 'modifica_rut' %}
						<u><a href="#">Saldo</a></u>
					{% endif %}
					-->

				</td>
			</tr>

			<tr>
				<td id="div6_id">Nombre Apoderado</td> 
				<td>
					<d id="div4_id">
					{% if variable2 == 'modifica_rut' %}	
						{{ form.rut_apod|attr:'size:10'|attr:'id:rut_apod'|attr:'onblur:return validarut2()'|attr:'onchange:upperCase()'|attr:'placeholder:9999999-9'|attr:'required:True'|attr:'title:dato obligatorio'|attr:'tabindex:3'}}
					{% else %}
						{{form.rut_apod|attr:'size:10'|attr:'readonly:True'}} 
					{% endif %}
					</d>

					<d id="div5_id">
						{{form.n_apod|attr:'required:True'|attr:'onKeyup:mayuscula(this)'|attr:'size:40'|attr:'placeholder:paterno materno nombres'|attr:'title:dato obligatorio'|attr:'tabindex:4'}} 
					</d>	
					<d>
						<!--
						<u>
						<a href="#" onclick="Ocultar()">Accion</a>
						</u>
						-->
					</d>
				</td>
			</tr>

			<tr>
				<td id="div0_id">Direcc. Apoderado</td>
				<td>
					<d id="div1_id">
					{{form.dir_apod|attr:'required:True'|attr:'onKeyup:mayuscula(this)'|attr:'size:40'|attr:'tabindex:5'}} 
					</d>	
				</td>
			</tr>

			<td id = "div13_id">Comuna Apoderado</td>
				<td>
					<select	name="comuna_apod" tabindex="6">
					{% for c in comuna %}
						{% if c.codigo == var_comunapod %}
							<option value ="{{c.codigo}}" selected = "selected"> {{c.descrip}} </option>
						{% else %}	
							<option value ="{{c.codigo}}">{{c.descrip}}</option>
						{% endif %}
					{% endfor %}			
					</select>
					<a>(Necesario para el Contrato)</a>
				</td>			
			</tr>

			<tr>
				<td id="div2_id">Fono Apoderado</td>
				<td>
					<d id="div3_id">
					{{form.f_apod|attr:'id:f_apod'|attr:'required:True'|attr:'size:12'|attr:'title:dato obligatorio'|attr:'tabindex:7'}} 
					</d>
				</td>
			</tr>
	
			<tr>
				<td id="div7_id">Fono2 Apoderado</td>
				<td>
					<d id="div8_id">
					{{form.fono2_apod|attr:'size:12'|attr:'tabindex:8'}} 
					</d>
				</td>
			</tr>
	
			<tr>
				<td id="div9_id">Parentezco</td>
				<td>
					<d id="div10_id">
					{{form.parentes|attr:'id:parentes'|attr:'size:40'|attr:'placeholder:El apoderado qué es del paciente ?'|attr:'onKeyup:mayuscula(this)'|attr:'tabindex:9'}} 
					</d>
				</td>
			</tr>

			<tr>
				<td id="div11_id">Correo Apod.</td>
				<td>
					<d id="div12_id">
					{{form.correo_apod|attr:'size:40'|attr:'onblur:return validaemail("correo_apod")'|attr:'id:correo_apod'|attr:'tabindex:10'}} 
					</d>
				</td>
			</tr>

			<tr>
				<td>Clasif. - Origen</td>
				<td>
				
				<select	name="clasi" id = "clasi" tabindex="11">
					{% for cla in clasi %}
						{% if cla.codigo == var_clasi %}	
							<option value ="{{cla.codigo}}" selected="selected">{{cla.descrip}}</option>
						{% else %}
							<option value ="{{cla.codigo}}">{{cla.descrip}}</option>
						{% endif %}
					{% endfor %}
				</select>

				<select	name="yace" id = "yace" tabindex="12">
					{% for yace in yace %}
						{% if yace.codigo == var_yace %}	
							<option value ="{{yace.codigo}}" selected="selected">{{yace.descrip}}</option>
						{% else %}
							<option value ="{{yace.codigo}}">{{yace.descrip}}</option>
						{% endif %}
					{% endfor %}
				</select>

				</td>			
			</tr>

			<tr>	
				<td >Localizacion fisica</td>
				<td>
					<d>
					{{form.localizacion|attr:'required:True'|attr:'onKeyup:mayuscula(this)'|attr:'size:60'|attr:'tabindex:13'}} 

					{% if nuevo_pac == 0 %}
						<u><a href = "{% url 'georeferencia' %}">Google Maps</a></u>
					{% endif %}
					</d>

					{% if nuevo_pac == 0 %}
						{% if perms.ai.btn_coordenadas %} 
							<u><a href="{% url 'coordenadas' %}"> / Coordenadas</a></u>
						{% endif %}
					{% endif %}
					
				</td>

			</tr>

			<tr>
				<td>Cobranza</td>
				<td>
				<select	name="cob" id = "cob" tabindex="14">
					{% for cobr in cob %}
						{% if cobr.codigo == var_cob %}	
							<option value ="{{cobr.codigo}}" selected="selected">{{cobr.descrip}}</option>
						{% else %}
							<option value ="{{cobr.codigo}}">{{cobr.descrip}}</option>
						{% endif %}	
					{% endfor %}
				</select>
				</td>			
			</tr>

			<tr>
				<td>Medico</td>
				<td>
					<d >
					{{ form.medico|attr:'id:medico'|attr:'required:true'|attr:'size:40'|attr:'tabindex:15'|attr:'onKeyup:mayuscula(this)'}} 
					</d>
				</td>
			</tr>

			<tr>
				<td>Sexo Paciente</td>
				<td>
				<select	name="sexo" id="sexo" tabindex="16">
					{% for sex in sexo %}
						{% if sex.codigo == var_sex %}	
							<option value ="{{sex.codigo}}" selected="selected">{{sex.descrip}}</option>
						{% else %}
							<option value ="{{sex.codigo}}">{{sex.descrip}}</option>
						{% endif %}	
					{% endfor %}
				</select>
				</td>			
			</tr>

			<td>Estado civil paciente</td>
				<td>
					<select	name="ecivil" id = "ecivil" tabindex="6">
					{%if var_previ == None %}
						<option value ="0">SELECCIONE ESTADO CIVIL</option>
					{%endif%}
					{% for ec in ecivil %}
						{% if ec.codigo == var_ecivil %}
							<option value ="{{ec.codigo}}" selected = "selected"> {{ec.descrip}} </option>
						{% else %}	
							<option value ="{{ec.codigo}}">{{ec.descrip}}</option>
						{% endif %}
					{% endfor %}			
					</select>
				</td>			
			</tr>

			<td>Prevision del paciente</td>
				<td>
					<select	name="previ" id = "previ" tabindex="6">

					{%if var_previ == None %}
						<option value ="0">SELECCIONE PREVISION</option>
					{%endif%}

					{% for previ in previ %}
						{% if previ.codigo == var_previ %}
							<option value ="{{previ.codigo}}" selected = "selected"> {{previ.descrip}} </option>
						{% else %}	
							<option value ="{{previ.codigo}}">{{previ.descrip}}</option>
						{% endif %}
					{% endfor %}			

					</select>
				</td>			
			</tr>


			<tr>
				<td>Fecha Inicio </td> 
				<td>
				<d>	
				{{form.fe_ini|attr:'id:fe_ini'|attr:'size:17'|attr:'type:text'|attr:'required:True'|attr:'placeholder:aaaa-mm-dd hh:mm:ss'|attr:'tabindex:17'|attr:'onblur:return validarFormatoFecha("fe_ini")'}}
				</d>
				</td>
			</tr>

			<tr>
			<td>Fecha Nacimiento</td> 
				<td>
				{{form.fe_nac|attr:'size:17'|attr:'type:text'|attr:'id:fe_nac'|attr:'placeholder:aaaa-mm-dd hh:mm:ss'|attr:'tabindex:18'|attr:'onblur:return validarFormatoFecha2("fe_nac")'}}
				</d>
				<a>(Necesaria para los Informes)</a>
				</td>
			</tr>

			<tr>
				<td>Direccion</td>
				<td>
					<d>{{form.direccion|attr:'size:60'|attr:'required:True'|attr:'tabindex:19'}}</d>
				</td>
			</tr>

			<tr>
				<td>Fonos</td>
				<td>
					<d>{{form.fono_pcte|attr:'id:fono_pcte'|attr:'size:12'|attr:'required:True'|attr:'onblur:return valida_fono()'|attr:'id:fono_pcte'|attr:'tabindex:20'}}</d>
					
					<d>{{form.fono2_pcte|attr:'size:12'|attr:'placeholder:Opcional'|attr:'tabindex:21'}}</d>
				</td>
			</tr>

			<tr>
			<td>Correo Pac.</td>
				<td>
					<d>{{form.correo|attr:'onblur:return validaemail("correo")'|attr:'required:True'|attr:'size:40'|attr:'id:correo'|attr:'tabindex:22'}}</d>
				</td>
			</tr>

			<td>Region</td>
				<td>
					<select name="region" tabindex="23">
					{% for r in region %}
						{% if r.codigo == var_region %}
							<option value ="{{r.codigo}}" selected="selected">{{r.descrip}}</option>
						{% else %}
							<option value ="{{r.codigo}}">{{r.descrip}}</option>
						{% endif %}	
					{% endfor %}
					</select>			
				</td>			
			</tr>

			<td>Comuna</td>
				<td>
					<select	name="comuna" tabindex="24">
					{% for c in comuna %}
						{% if c.codigo == var_comuna %}
							<option value ="{{c.codigo}}" selected = "selected">{{c.descrip}}</option>
						{% else %}	
							<option value ="{{c.codigo}}">{{c.descrip}}</option>
						{% endif %}
					{% endfor %}			
					</select>
				</td>			
			</tr>

			<tr>
			<td>Abono Inicial</td>
				<td>
					<!--
					<select	name="abon" tabindex="25" id="abon" onchange="validabono()">
					{% for abo in abon %}
						{% if abo.codigo == var_abon %}
							<option value ="{{abo.codigo}}" selected = "selected">{{abo.descrip}}</option>
						{% else %}	
							<option value ="{{abo.codigo}}">{{abo.descrip}}</option>
						{% endif %}
					{% endfor %}			
					</select>
					
					Abono Inicial $
					-->
				<input type="text" name="fname" value="{{valor_abono|intcomma}}" id="valor_abono" readonly>
				(no modificable, se ingresa en ANTICIPOS)
				</td>			
			</tr>

			<!--
			<tr>
				<td>Cheque número:</td>
				<td>{{form.cheque|attr:'size:15'|attr:'tabindex:27'|attr:'id:cheque'}}
				
				Banco
				<select	name="banco" tabindex="28" id="bco" style="width:170px">
				{% for bco in banco %}
					{% if bco.codigo == var_banco %}
					<option value ="{{bco.codigo}}" selected = "selected">{{bco.descrip}}</option>
					{% else %}	
					<option value ="{{bco.codigo}}">{{bco.descrip}}</option>
					{% endif %}
				{% endfor %}			
				</select>
				Fecha cheque
					<d>{{form.fecha_cheque|attr:'id:fecha_cheque'|attr:'placeholder:aaaa-mm-dd'|attr:'size:15'|attr:'onblur: return validarFormatoFecha3()'}}</d>
				</td>
			</tr>
			-->

			<tr>
			<tr>
			<td>Tarifa mañana $</td>
				<td>
					<d>{{form.valor_t1|attr:'id:valor_t1'|attr:'requiered:True'|attr:'size:40'|attr:'tabindex:26'}}</d>
				</td>
			</tr>

			<tr>
			<td>Tarifa tarde $</td>
				<td>
					<d>{{form.valor_t2|attr:'id:valor_t2'|attr:'size:40'|attr:'tabindex:27'|attr:'id:valor_t2'}}</d>
				</td>
			</tr>

			<tr>
				<td>Tarifa noche $</td>
				<td>
					<d>{{form.valor_t3|attr:'id:valor_t3'|attr:'size:40'|attr:'tabindex:28'|attr:'id:valor_t3'}}</d>

				</td>
								
			</tr>

			<tr>
			<td>Documento de cobro</td>
			<td>
				{% if var_doc_cobro == "1" %}
					<input type="radio" name="doc_cobro" value="1" checked> Boleta<br>
					<input type="radio" name="doc_cobro" value="2" > Factura<br>
					<input type="radio" name="doc_cobro" value="3"> Otro
				{% endif %}
				{% if var_doc_cobro == "2" %}
					<input type="radio" name="doc_cobro" value="1" > Boleta<br>
					<input type="radio" name="doc_cobro" value="2" checked> Factura<br>
					<input type="radio" name="doc_cobro" value="3"> Otro
				{% endif %}
				{% if var_doc_cobro == "3" %}
					<input type="radio" name="doc_cobro" value="1" > Boleta<br>
					<input type="radio" name="doc_cobro" value="2" > Factura<br>
					<input type="radio" name="doc_cobro" value="3" checked> Otro
				{% endif %}
			</td>
			</tr>

			<td>Observaciones</td>
				<td>
				<d>
				{{form.notas|attr:'width:250'|attr:'size:60'|attr:'id:notas'|attr:'tabindex:30'|attr:'cols:80'|attr:'rows:3'|attr:'placeholder:Escribe tu comentario aqui'}}
				</d>
				</td>
			</tr>

			</table>
			</div>
			<Span id='span1'><span>
		
			{% if perms.ai.btn_acep_fichapac %} 
				<button type="submit" id="submit" name = "submit" class="btn btn-primary">Aceptar</button>
			{% else %}
				<a style="font-size:14px" role="button" class="btn btn-primary" onclick="alert('Usted no está autorizado a grabar cambios a esta ficha')">Aceptar</a>		
			{% endif %}

		</form>
	</section>
{% endblock %}

