{% extends 'plantilla_base.html' %}
{% load static %}
{% block content %}
	<section class='section2'>
		<!-- esta ficha es llamada desde la view ActualizaCui3 -->
		{% if not user.is_authenticated %} 
            <a href="{% url 'login_ini' %}">
        {% endif %}

		<form id="form" name="form" method="POST" action="#" onsubmit="return ValidaFichacui();" enctype="multipart/form-data"> 
			{% load widget_tweaks %} 			
 			{% csrf_token %}
			<table border="0">
    		<tbody>	
			<tr>
				<td width="610" align="right">
				<u>
				<a onclick="return ayuda2();"> Ayuda</a>
				</u>
				</td>	

				<td width="120" align="right">
					<!--regresa a pantalla anteior -->
					<u><a href="{% url 'grid_cuidadores' %}">Regresa</a></u>
				</td>		
				<!-- regresa al inicio -->
				<td width="100" align="right">
					<u><a href="{% url 'principal' %}">Inicio</a></u>
				</td>
			</tr>
			</tbody>
			</table>

			<table class="table table-striped" border = '0' style="font-size:14px; color:#098979">

		    {% if error_new == "error1" %}
    	    	<p class="error1">R.U.T. ya existe !!</p>
        	{% endif %}
		
			<td>
				<img  src="{{ fotito }}" border:3px/>
			</td>	

			<tr style="font-size:13px; color:#098979">
				<td>R.U.T.:</td>
				<td>

				{% if variable2 == 'modifica_rut' %}	
					{form.rut|attr:'size:10'|attr:'id:rut'|attr:'onchange:upperCase()'|attr:'tabindex:1'|attr:'onfocus:ayuda5()'}
				{% else %}
					{{form.rut|attr:'size:10'|attr:'readonly:True'}} 
				{% endif %}


				{% if variable2 == 'nomodifica_rut' %}
					<d>
					{% if extran == '0' %}
						{{form.extran|attr:'type:checkbox'|attr:'id:extran'|attr:'tabindex:2'|attr:'checked'}} extranjero
					{% else %}
						{{form.extran|attr:'type:checkbox'|attr:'id:extran'|attr:'tabindex:2'}} extranjero
					{%endif%}
					</d>
				{% else %}
					<d>
					{{form.extran|attr:'type:checkbox'|attr:'id:extran'|attr:'tabindex:3'}} extranjero
					<!-- <div style="color:#F7021C" id="mensaje"></div> -->
					</d>
				{% endif %}
			</tr>


			{% if nuevo_cui != 1 %}
				<d>
				{{form.estado|attr:'type:checkbox'|attr:'tabindex:4'}} Pasivo (estado)
				</d>
				{{form.elim_foto|attr:'type:checkbox'|attr:'tabindex:4'}} marca elimina foto
			{%endif%}

			<tr>
				<td>Nombre</td> 
				<td>
					<d>{{ form.nombre|attr:'id:nombre'|attr:'requiered:True'|attr:'size:60'|attr:'placeholder:paterno materno nombres'|attr:'onkeyup:mayuscula(this)'|attr:'tabindex:5'}}
					</d>

					{% if nuevo_cui == 0 %}
					<u><a href="{% url 'contrato' %}" target="_blank">Contrato</a></u>
					{% endif %}

				</td>
			</tr>

			<tr>
				<td>Nacionalidad</td> 
				<td>
					<d>{{ form.nacionalidad|attr:'id:nacionalidad'|attr:'size:30'|attr:'onkeyup:mayuscula(this)'|attr:'tabindex:5'|attr:'placeholder:vacio se asume chilena'}}
					</d>
				</td>
			</tr>

			<tr>
				<td>Fecha Inicio</td> 
				<td>
					<d>	
					{{form.fe_ini|attr:'id:fe_ini'|attr:'size:17'|attr:'type:text'|attr:'required:True'|attr:'placeholder:aaaa-mm-dd'|attr:'tabindex:6'|attr:'onblur: return validarFormatoFecha()'}}
					</d>
				</td>
			</tr>

			<tr>
				<td>Fecha venc. Contrato</td> 
				<td>
					<d>	
					{{form.vence_contrato|attr:'id:vence_contrato'|attr:'size:17'|attr:'type:text'|attr:'required:True'|attr:'placeholder:aaaa-mm-dd'|attr:'tabindex:7'|attr:'onblur: return valifechavencimiento_contrato()'}}
					</d>
				</td>
			</tr>

		
			<tr>
				<td>Tipo Contrato</td>
				<td>
				<select	name="tipo" id="tipo" tabindex=7>
					{% for tip in tipo %}
						{% if tip.codigo == var_tip %}	
							<option value ="{{tip.codigo}}" selected="selected">{{tip.descrip}} </option>
						{% else %}
							<option value ="{{tip.codigo}}">{{tip.descrip}} </option>
						{% endif %}	
					{% endfor %}
				</select>
				</td>			
			</tr>
			
			<tr>
				<td>Clasificacion</td>
				<td>
				<select	name="clasi" id="clasi" tabindex=8>
					{% for cla in clasi %}
						{% if cla.codigo == var_clasi %}	
							<option value ="{{cla.codigo}}" selected="selected">{{cla.descrip}} </option>
						{% else %}
							<option value ="{{cla.codigo}}">{{cla.descrip}} </option>
						{% endif %}	
					{% endfor %}
				</select>
				</td>			
			</tr>

			<tr>
				<td>Sexo</td>
				<td>
				<select	name="sexo" id="sexo" tabindex=9>
					{% for sex in sexo %}
						{% if sex.codigo == var_sex %}	
							<option value ="{{sex.codigo}}" selected="selected">{{sex.descrip}} </option>
						{% else %}
							<option value ="{{sex.codigo}}">{{sex.descrip}} </option>
						{% endif %}	
					{% endfor %}
				</select>
				</td>			
			</tr>


			<td>Estado Civil</td>
				<td>
					<select	name="ecivil" id = "ecivil" tabindex="6">
					{%if var_ecivil == None %}
						<option value ="0">SELECCIONE ESTADO CIVIL</option>
					{%endif%}
					{% for ec in ecivil %}
						{% if ec.codigo == var_ecivil %}
							<option value ="{{ec.codigo}}" selected = "selected"> {{ec.descrip}} </option>
						{% else %}	
							<option value ="{{ec.codigo}}">{{ec.descrip}}</option>
						{% endif %}
					{% endfor %}			
					</select>
				</td>			
			</tr>


			<tr>
				<td>Nivel educacional</td>
				<td>
				<select	name="instr" id="instr" tabindex=10>
					{% for inst in instr %}
						{% if inst.codigo == var_instr %}	
							<option value ="{{inst.codigo}}" selected="selected">{{inst.descrip}} </option>
						{% else %}
							<option value ="{{inst.codigo}}">{{inst.descrip}} </option>
						{% endif %}	
					{% endfor %}
				</select>
				</td>			
			</tr>


			<tr>
			<td>Fecha Nacimiento</td> 
				<td>
				{{form.fe_nac|attr:'id:fe_nac'|attr:'size:17'|attr:'type:text'|attr:'placeholder:aaaa-mm-dd'|attr:'requiered:True'|attr:'tabindex:12'|attr:'onblur:return validarFormatoFecha2()'}}
				</d>
				</td>
			</tr>

			<tr>
				<td>Previsión</td>
				<td>
					<d>{{form.afp|attr:'id:afp'|attr:'size:30'|attr:'requiered:True'|attr:'tabindex:13'|attr:'placeholder:AFP u otra institución'|attr:'onkeyup:mayuscula(this)'}}</d>
				</td>
			</tr>

			<tr>
				<td>Inst. Salud</td>
				<td>
					<d>{{form.salud|attr:'id:salud'|attr:'size:30'|attr:'requiered:True'|attr:'tabindex:13'|attr:'placeholder:Por ejemplo FONASA'|attr:'onkeyup:mayuscula(this)'}}</d>
				</td>
			</tr>

			<tr>
				<td>Direccion</td>
				<td>
					<d>{{form.direccion|attr:'id:direccion'|attr:'size:60'|attr:'requiered:True'|attr:'tabindex:13'}}</d>
				</td>
			</tr>

			<tr>
				<td>Fonos</td>
				<td>
					<d>{{form.fono_cuid|attr:'size:12'|attr:'requiered:True'|attr:'onblur:return valida_fono()'|attr:'id:fono_cuid'|attr:'tabindex:14'}}</d>
					
					<d>{{form.fono2_cuid|attr:'size:12'|attr:'placeholder:Opcional'|attr:'tabindex:15'}}</d>
				</td>
			</tr>

			<tr>
			<td>Correo</td>
				<td>
					<d>{{form.correo|attr:'onblur:return validaemail()'|attr:'requiered:True'|attr:'size:40'|attr:'id:correo'|attr:'tabindex:16'}}</d>
				</td>
			</tr>

			<td>Region</td>
				<td>
					<select name="region" tabindex=17>
					{% for r in region %}
						{% if r.codigo == var_region %}
							<option value ="{{r.codigo}}" selected="selected">{{r.descrip}}</option>
						{% else %}
							<option value ="{{r.codigo}}">{{r.descrip}}</option>
						{% endif %}	
					{% endfor %}
					</select>			
				</td>			
			</tr>

			<td>Comuna</td>
				<td>
					<select	name="comuna" tabindex=18>
					{% for c in comuna %}
						{% if c.codigo == var_comuna %}
						<option value ="{{c.codigo}}" selected = "selected">{{c.descrip}}</option>
						{% else %}	
						<option value ="{{c.codigo}}">{{c.descrip}}</option>
						{% endif %}
					{% endfor %}			
					</select>
				</td>			
			</tr>

			<tr>
			<td>Valor a pago mañana</td>
				<td>
				<d>	
				{{form.apago1|attr:'id:apago1'|attr:'size:17'|attr:'requiered:True'|attr:'tabindex:19'}}
				</d>
				</td>
			</tr>

			<tr>
			<td>Valor a pago tarde</td>
				<td>
				<d>	
				{{form.apago2|attr:'id:apago2'|attr:'size:17'|attr:'type:text'|attr:'requiered:True'|attr:'tabindex:20'}}
				</d>
				</td>
			</tr>

			<tr>
			<td>Valor a pago noche</td>
				<td>
				<d>	
				{{form.apago3|attr:'id:apago3'|attr:'size:17'|attr:'type:text'|attr:'requiered:True'|attr:'tabindex:21'}}
				</d>
				</td>
			</tr>

			<tr>
			<td>Observaciones</td>
				<td>

				<!--
				<p><textarea name="comentario" rows="5" cols="50">Escribe aquí tu comentario: </textarea></p>
				-->
				
				<d>{{form.notas|attr:'id:notas'|attr:'tabindex:22'|attr:'cols:60'|attr:'rows:3'|attr:'placeholder:Escribe aqui tu comentario'}}</d>
				</td>
			</tr>
			</table>

			<Span id='span1'></span>
				

			{% if perms.ai.btn_acep_fichacui %} 
				<button type="submit" id="submit" name = "submit" class="btn btn-primary">Aceptar</button>
			{%else%}
				<a style="font-size:14px" role="button" class="btn btn-primary" onclick="alert('Usted no esta autorizado a grabar cambios a la ficha')">Aceptar</a>		
			{%endif%}

		</form>
	</section>

{% endblock %}
