{% extends 'plantilla_base.html' %}
{% block content %}
	<section class='section'>
		{% if not user.is_authenticated %}
            <a href="{% url 'login_ini' %}">
        {% endif %}

			<!-- muestra mensajes de error creado en la VIEW.PY -->
			{% if messages %}
    		<ul class="messages">
        		{% for message in messages %}
        			<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
        			  {{ message }}
        			</li>
        		{% endfor %}
    		</ul>
			{% endif %}

			<form method='GET' action="{% url 'grid_pautaBusca' %}">{% csrf_token %}
				<table border="0">
    				{% if error1 == "hay_error" %}
   	    				<p class="error1">Error. !! El mes seleccionado no tiene ese numero de dia !!</p>
       				{% endif %}

    				<tbody>
					<tr>
						<td width="230" style="color:#098979; font-size:15px">
						<label>Paciente:</label>
						<!-- caja glosa a buscar-->
						<input type="text" size="12" name = "buscar" title="Busca en columna NOMBRE" placeholder="vacio todos">
						</td>

						<!-- td de la fecha dd-mm-aaaa -->
						<td width="290" align="Left" style="color:#098979; font-size:15px">
							<label>
								Fecha:
							</label>
	
							<select	name="dias" id = "dias">
							{% for dias_var in dias %}
								{% if dias_var == dia_hoy %}
									<option value ="{{dias_var}}" selected='selected'>	{{dias_var}}
										</option>
									{% else %}
										<option value ="{{dias_var}}">{{dias_var}}</option>
									{% endif %}
								{% endfor %}
							</select>
	
							<select	name="meses" id = "meses">
							{% for meses_var in meses %}
								{% if meses_var == mes_hoy %}
									<option value ="{{meses_var}}" selected='selected'>	{{meses_var}}</option>
								{% else %}
									<option value ="{{meses_var}}">{{meses_var}}</	option>
								{% endif %}
							{% endfor %}
							</select>
	
							<select	name="ano" id = "ano">
							{% for ano_var in ano %}
								{% if ano_var == ano_hoy %}
									<option value ="{{ ano_var}}" selected='selected'>	{{ano_var}}</option>
								{% else %}
									<option value ="{{ano_var}}">{{ano_var}}</option>
								{% endif %}
							{% endfor %}
							</select>
						</td>
		

						<!-- boton BUSCAR glosa de nombre -->
						<td width="160" title="Solo pacientes dentro del rango de fechas" style="font-size:12px">
				     	<input type="submit" value="Busca / Construye" class="btn btn-primary">
						</td>


						<!-- regresa al principal -->
					    <td width="150" align="right">
							<u>
								<a href="{% url 'principal' %}">Inicio</a>
							</u>
						</td>

					</tr>
    				</tbody>
				</table>
			</form>

			<table class="table table-hover table-fixed" border="1">
		    <tr>
		    	<thead class="thead-dark">

			        <th style="background-color: #10106D; color:White; font-size:12px">
				        Pacientes Activos
			    	</th>

			        <th style="background-color: #10106D; color:White; font-size:12px">
			        	Mañana
			    	</th>

			        <th style="background-color: #10106D; color:White; font-size:12px">
			        	Tarde
			    	</th>

			        <th style="background-color: #10106D; color:White; font-size:12px">
			        	Noche
			    	</th>

		    	</thead>
		    </tr>

		    {% for pauta in pauta %}
			    <tr>
			        <td  width="250" style="font-size:12px">
						<li>
						<a href="{% url 'ActualizaPauta' pauta.id pauta.fecha %}" title="Verifique que todos los datos del paciente esten completos en la ficha">{{ pauta.paciente}}</a>
						</li>
			        </td>
					
					{% if pauta.turno1 != None %}
			        	<td width="200" style="font-size:12px">{{ pauta.turno1 }}</td>
			        {%else%}
			        	<td width="200"> </td>
					{% endif %}
					
					{% if pauta.turno2 != None%}	
			        	<td width="200" style="font-size:12px">{{ pauta.turno2}}</td>
					{% else %}
			        	<td width="200"> </td>
					{% endif %}

					{% if pauta.turno2 != None%}	
			        	<td width="200" style="font-size:12px">{{ pauta.turno3}}</td>
					{% else %}
			        	<td width="200"> </td>
					{% endif %}
		
			        </td>

			    </tr>
		    {% endfor %}
		</table>
	</section>
{% endblock %}
