{% extends 'plantilla_base.html' %}
{% block content %}
	<section class='section'>

		{% if not user.is_authenticated %} 
        	<a href="{% url 'login_ini' %}">
        {% endif %}
			<form  method='GET' action="{% url 'grid_cuidadorBusca' %}"> 
				{% csrf_token %}
				<table border="0">
    			<tbody>	
				<tr>
					<!-- caja de busqueda ---->
					<td width="170" style="font-size:14px;color:#098979">
					<label for="mySearch">Patrón de busqueda:</label>
					<input type="text" size="12" name = "buscar" title="Busca en columna NOMBRE" placeholder="vacio todos">
					</td>
					
					<!-- BOTON BUSCA -->
					<td width="150">
			     	<input style="font-size:11px" type="submit" value="Busca" class="btn btn-primary">
					</td>
					
					<!-- NUEVO -->
					<td  width="100">
					<a  style="font-size:11px" class="btn btn-primary" href="{% url 'NuevoCui3' %}" role="button">Nuevo</a>
					</td>

					<!-- TOTAL CUIDADORES -->
           			<td width="420" align="right">
              		<a class="text-right text-muted small">
    		           	Tot cuidadores: {{cuenta}}
	        		</a>
            		</td>
					
					<!-- regresa al inicio -->
					<td width="200" align="right">
						<u>
							<a href="{% url 'principal' %}">Inicio</a>
						</u>
					</td>
				</tr>
				</tbody>
				</table>
			</form>
			
			<!-- <table class="table table-striped w-auto" border="1"> -->
			<table class="table table-hover table-fixed" border="1">	
			   <tr>
			   	<thead class="thead-dark" style="background-color: #10106D; color:White; font-size:12px"> 
			   		<th>ID</th>
			        <th>Nombre</th>
			        <th>Estado</th>
			        <th>R.U.T.</th>
			        <th>Dirección</th>
			        <th>Acción</th>
			   	</thead>
			   </tr>
				
				{% for cuidador in cuidadores %}
			    <tr style="font-size:13px; color:#098979">
			        <td>{{ cuidador.id }}</td>

			        <!-- <td>{{ cuidador.nombre}} -->
					<td width="300" style="font-size:13px">	
					<li>
					

					{% if perms.ai.actualiza_cui %} 	 
						<a href="{% url 'ActualizaCui' cuidador.id %}" id="nombre"> 
						{{ cuidador.nombre }}
						</a>
						
					{% else %}

						<a onclick="alert('Usted no está autorizado a ingresar a la ficha')" >
						{{ cuidador.nombre }}
						</a>

					{% endif %}
					

					</li>	
			        </td>

					{% if cuidador.estado == 1 %}	
			        	<td style="color:#F7021C">Pasivo</td>
			        {% else %}
						<td style="color:#098979">Activo</td>	
			        {%endif%}

					
			        <td width="100">
			        	{{ cuidador.rut}}
			        </td>

			        <td width="300">
			        	{{ cuidador.direccion}}
			        </td>
			        
					<!-- elimina cuidador -->
			        <td>
			        {% if perms.ai.btn_elim_gridgcui %} 	
						<a class="btn btn-danger" href="{% url 'EliminaCui' cuidador.id %}"role="button">Elimina</a> 
					{% else %}
						<a style="font-size:14px;background-color: #DB3939; color:White;" role="button" class="btn btn-primary" onclick="alert('Usted no esta autorizado a eliminar registro')">Elimina</a>		
					{% endif %}
			    	</td>	
			
			    </tr>
			   	{% endfor %}
			</table>
	</section>
{% endblock %}
