{% extends 'plantilla_base.html' %}

{% block content %}
	<section class='section2'>

		{% if user.username == None %} 
            <a href="{% url 'login_ini' %}">
        {% endif %}

			<!-- muestra mensajes de error creado en la VIEW.PY -->
			{% if messages %}
    		<ul class="messages">
        	{% for message in messages %}
        		<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
        			  {{ message }}
        		</li>
        	{% endfor %}
    		</ul>    
			{% endif %}

			<form  class = "" method='GET' action= "{% url 'grid_paramBusca' %}">
					{% csrf_token %}
	
				<table border="0">
    				<tbody>	
					<tr>
						<td width="230">
						<label for="mySearch">Busca por:</label>
						<input type="text" class = "search-query" size="12" name = "buscar" value='{{buscar}}' title="busca en columna TIPO" id="busca" placeholder="vacio todos" onfocus="limpia()">
						</td>

						<td width="90">
				     	<input type="submit" value="Busca" class="btn btn-primary">
						</td>

						<td width="200">
						<input type="checkbox" id="chbox1" name="check1" label for="chbox1"> busca en descripción</label>
						</td>	

						<!-- BOTON NUEVO -->
						<!--
						<td width="110">
						<a class="btn btn-primary" href="{% url 'NuevoParam' %}" role="button" title="Segun claves TIPO ya existentes">Nuevo</a>
					    </td>
						-->

						<td width="210" align="right">
						<label>
							<u>
								<a href="{% url 'principal' %}">Inicio</a>
							</u>
						</label>
						</td>
					</tr>
				</tbody>
				</table>
				</form>
		<table class="table table-striped w-auto" border="1">	
		    <tr>
		    	<thead class="thead-dark">
		    		<th>Tipo</th>
			        <th width="10">Codigo</th>
			        <th width="290">Descripcion</th>
			        <th class = "th_acciones">Valor1</th>
		    	</thead>
		    </tr>
	
		    {% for param in param %}
			    <tr>
			        <td>{{ param.tipo}}</td>
			        <td>{{ param.codigo}}</td>

					<td>	
					<li>
					<a href="{% url 'FichaParam' param.id %}"> 
					{{ param.descrip }}
					</a>
					</li>	
			        </td>

			        <td>{{ param.valor1|default_if_none:'0'}}</td>

			        </td>	
			    </tr>
		    {% endfor %}
		</table>
	</section>
{% endblock %}
