{% extends 'plantilla_base.html' %}
{% block content %}
	<section class='section2'>

		{% if not user.is_authenticated %} 
            <a href="{% url 'login_ini' %}">
        {% endif %}

			<!-- muestra mensajes de error creado en la VIEW.PY -->
			{% if messages %}
    		<ul class="messages">
        	{% for message in messages %}
        		<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
        			  {{ message }}
        		</li>
        	{% endfor %}
    		</ul>    
			{% endif %}
				
			<form method='GET' action="{% url 'grid_pacienteBusca' %}">
					{% csrf_token %}
 
					<table border="0">
    				<tbody>	
					<tr>
						<td>
						<label for="mySearch" style="color:#045579">Patrón de busqueda:</label>
						<input type="text" size="12" name = "buscar" title="Busca en columna NOMBRE" placeholder="vacio todos">
						</td>
						<td width="90">
				     	<input type="submit" value="Busca" class="btn btn-primary">
						</td>

						<td width="130">
						<a class="btn btn-primary" href="{% url 'NuevoPac2' %}" role="button">Nuevo</a>
					    </td>
						

						<!-- numero de registros -->
           				<td width="150" align="right">
              			<a class="text-right text-muted small">
    		            	Tot pacientes: {{cuenta}}
	        		    </a>
            			</td>

						<!-- vuelve a inicio -->
					    <td width="130" align="right">
							<u>
								<a href="{% url 'principal' %}">Inicio</a>
							</u>
						</td>
					</tr>
    				</tbody>	
					</table>
			</form>

		<table class="table table-striped w-auto" border="1">					
		    <tr>
		    	<thead class="thead-dark" style="color:#045579;background-color: #FFFFFF;font-size:14px">
		    		<th>ID</th>
			        <th>Nombre</th>
			        <th>Pasivo</th>
			        <th style="align=center">Acción</th>
		    	</thead>
		    </tr>
		
		    {% for paciente in pacientes %}
			    <tr id="{{forloop.counter}}" style="font-size:13px; color:#098979">
			        <td>{{ paciente.id}}</td>

					<td>	
					<li>
					{% if perms.ai.actualiza_pac %}
						<a href="{% url 'ActualizaPac' paciente.id %}">{{ paciente.nombre }}</a>
					{% else %}
						<a onclick="alert('Usted no está autorizado a ingresar a la ficha')" >
						{{ paciente.nombre }}
						</a>
					{% endif %}
					</li>	
			        </td>
					
					<!-- checkbox-->
					<td width="70">
					{% if paciente.estado == falso_x %}	
						<input type="checkbox" name="check1" disabled/>
					{%else%}
						<input type="checkbox" name="check1" checked disabled/>
					{% endif %}
					</td>	


			        <td>
					{% if perms.ai.grid_pcteselimina %} 
						<a class="btn btn-danger" href="{% url 'EliminaPac' paciente.id %}" role="button">Elimina</a>
					{% else %}

						<a style="font-size:14px;background-color: #DB3939; color:White;" role="button" class="btn btn-primary" onclick="alert('Usted no esta autorizado a eliminar registro')">Elimina</a>

					{% endif %}
					</td>


					<!--
					<a class="btn btn-primary" href="{% url 'ActualizaPac' paciente.id %}" role="button">Modifica</a>
			        </td>
			        -->	

			    </tr>
		    {% endfor %}
		</table>
	</section>
{% endblock %}
