{% extends 'plantilla_base.html' %}

{% block content %}
	<section class='section2'>
		
		{% if not user.is_authenticated %} 
            <a href="{% url 'login_ini' %}">
        {% endif %}
				
				<form  class = "" method='GET' action= "{% url 'grid_apoderados' %}">
					{% csrf_token %}
					<table border="0">
    				<tbody>	
					<tr>
						<td style="font-size:14px;color:#098979">
						<label for="mySearch">Patrón de busqueda:</label>
						<input type="text" size="12" name = "buscar" placeholder="vacio todos">
						</td>

						<td width="90">
				     	<input type="submit" value="Busca" class="btn btn-primary">
						</td>

						<td  width="130">
						<a class="btn btn-primary" href="{% url 'NuevoApod' %}" role="button">Nuevo</a>
						</td>

						<td width="320" align="right">
							<u>
							<a href="{% url 'principal' %}">Inicio</a>
							</u>
						</td>
						
					</tr>
					</tbody>
					</table>
				</form>

			<table class="table table-striped w-auto" border="1">	
		    <tr>
		    	<thead class="thead-dark"> 
		    		<th style="color:#045579;background-color: #FFFFFF;font-size:14px">ID</th>
			        <th style="color:#045579;background-color: #FFFFFF;font-size:14px">Nombre</th>
			        <th style="color:#045579;background-color: #FFFFFF;font-size:14px">R.U.T.</th>
			        <th style="color:#045579;background-color: #FFFFFF;font-size:14px">Dirección</th>
			        <th style="color:#045579;background-color: #FFFFFF;font-size:14px">Acciones</th>
		    	</thead>
		    </tr>
	
		    	{% for apoderado in apoderados %}
			    <tr>
			        <td>{{ apoderado.id}}</td>

			        <!-- <td>{{ apoderado.nombre}}</td> -->
					<td>	
					<li>
					<a href="{% url 'ActualizaApod' apoderado.id %}"> 
					{{ apoderado.nombre }}
					</a>
					</li>	
			        </td>

			        <td>{{ apoderado.rut }}</td>
			        <td>{{ apoderado.direccion}}</td>
			        
			        <td>
			        
			        <!--	
					<a class="btn btn-primary" href="{% url 'ActualizaApod' apoderado.id %}" role="button">Modifica</a>
					-->

					<a class="btn btn-danger" href="{% url 'EliminaApod' apoderado.id %}" role="button">Elimina</a>
			        </td>	

			    </tr>
		    	{% endfor %}
			</table>
	</section>
{% endblock %}
