{% extends 'plantilla_base.html' %}
{% load static %}

{% block content %}
    <section  class='section'>
    <d>
      <p align="right"><u><a href="{% url 'principal' %}">Inicio</a></u></p>
    </d>
 
    {% if error_new == "error1" %}
        <p class="error1">Se han eliminado {{x}} registros !!</p>
    {% endif %}

    {% if error_new == "error2" %}
        <p class="error1">Se ha puesto nombre a {{x}} registros !!</p>
    {% endif %}

    <table border="0">
    <tbody>    
    <tr>
        <td width="240"  valign="top">   
        <aside class="col-xs-12 col-md-3"> 
        <div class="btn-group-vertical" >
            <!-- <h3 class="hidden-xs">Accesos</h3> -->
            
            <a class="btn btn-primary" href="{% url 'grid_param' %}" role="button" style="margin: 5px">Parametros Generales</a>

            <a class="btn btn-primary" href="{% url 'eliminapauvacias' %}" role="button" style="margin: 5px">Elimina Pautas Vacias</a>

            <a class="btn btn-primary" href="{% url 'farmacos' %}" role="button" style="margin: 5px">Base de de datos farmacos</a>
            <!--
            <li style="padding-bottom:5px;" title="Pone de paciente a tabla SALDOS"><a href="{% url 'ponenombresaldos' %}">Pone nombre pctes. en SALDOS</a></li>
            -->

        </div>
        </aside>
        </td>

        <td width=350 >   
        <div>
           <img  class="center-block" src="{{ logo_corp }}" width="300" height="200" border:3px/>
        </div>
        </td>

    </tr>    
    </tbody>
	</table>
    
    <br>
    <br>
    <br>
    </section>   
{% endblock %}  

