{% extends 'plantilla_base.html' %}
{% load static %}

{% block content %}
    <section>

    <d>
      <p align="right"><u><a href="{% url 'principal' %}">Inicio</a></u></p>
    </d>
 
    <table border="0">
    <tbody>    
    <tr>
        <td width="240"  valign="top">    
        <div class="home-azul" >
            <!-- <h3 class="hidden-xs">Accesos</h3> -->
            <ul id="home-servicios" >
                <li style="padding-bottom:5px;"><a href="{% url 'grid_param' %}">Parametros generales</a></li>
                <li style="padding-bottom:5px;"><a href="#">Comunas</a></li>
                <li style="padding-bottom:5px;"><a href="#">Pruebas</a></li>
            </ul>
        </div>
        </td>

        <td width=350 >   
        <div>
       
           <img  class="center-block" src="{{ logo_corp }}" width="300" height="200" border:3px/>
        </div>
        </td>

    </tr>    
    </tbody>
	</table>
    <br>
    <br>
    <br>
    </section>   
{% endblock %}  

