{% extends 'plantilla_base_flex.html' %}
{% load static %}

{% block content %}
<div class="cuerpo">

    <div class="cerrar_padre">
      
        <div class="subtitulo">
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
          </label>
        </div>
 
        <div class="cerrar_sesion">
    	    <u><a href="{% url 'log_out' %}">Cerrar sesión</a></u>
        </div>

    </div>	
    
    <div style="overflow-x:auto;"> 
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
        </tr>

        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>1</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
        </tr>

        <tr>
          <td>Ines</td>
          <td>Araya</td>
          <td>1</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
        </tr>

        <tr>
          <td>Gabriela</td>
          <td>Araya</td>
          <td>1</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
        </tr>


        <tr>
          <td>Pipota</td>
          <td>de Araya</td>
          <td>1</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Pinosky</td>
          <td>e Inés</td>
          <td>1</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Gabriela</td>
          <td>Araya</td>
          <td>1</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
        </tr>

        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
        </tr>
 
      </table>
    </div>

</div>	<!-- cuerpo -->   	
{% endblock %}  

