{% extends 'plantilla_base_flex.html' %}
{% load static %}

{% block content %}
	<section class='section'>
    <table border="0">
    <tbody>   
    {% csrf_token %}     
    <tr> 
        <td width="260" valign="top"> 
        <aside class="col-xs-12 col-md-3"> 
        	<div class="btn-group-vertical"> 
            {% if not user.is_active %} 
                <a href="{% url 'login_ini' %}">
            {% endif %}
  
            {% if perms.ai.menu_cuidadores %} 
            <a class="btn btn-primary" href="{% url 'grid_cuidadores' %}" role="button" style="margin: 5px">Cuidadores</a>
            {% endif %}
      
            {% if perms.ai.menu_pacientes %}            
            <a class="btn btn-primary" href="{% url 'grid_pacientes' %}" role="button" style="margin: 5px">Pacientes</a>
            {% endif %}

            {% if perms.ai.menu_apoderados %}
			<a class="btn btn-primary" href="{% url 'grid_apoderados' %}" role="button" style="margin: 5px">Apod. e Instituciones</a>
            {% endif %}
	
            {% if perms.ai.menu_pauta %}		
            <a class="btn btn-primary" href="{% url 'grid_pauta' %}" role="button" style="margin: 5px">Pautas</a>
            {% endif %}

            {% if perms.ai.menu_parametros %}       
			<a class="btn btn-primary" href="{% url 'MenuParam' %}" role="button" style="margin: 5px">Parametros</a>
            {% endif %}


            <!--
            <a class="btn btn-primary" href="{% url 'info' %}" role="button" style="margin: 5px">Info</a>
            -->
            
            {% if perms.ai.menu_impresos %}
             <a class="btn btn-primary" href="{% url 'consultas' %}" role="button" style="margin: 5px">Consultas e Impresos</a>
            {%endif%}

            <a class="btn btn-primary" href="{% url 'acercade' %}" role="button" style="margin: 5px" title="Identificación de autoria y desarrollador">Acerca de...</a>
            
        	</div>
        </aside>
        </td>

        <td>
        <div>
           <br> 
            <img  class="center-block" src="{{ logo_corp }}" width="300" height="200" border:3px/>
        </div>
		<br>
        </td>

        <td width="270" valign="top">
            <d>
            <p align="right"><u><a href="{% url 'log_out' %}">Cerrar sesion</a></u></p>
            </d>
        </td>    

    </tr>

    </tbody>    
    </table>

    <div class="table-responsive" style="color:#025D5D">
		<article class=article>
    		El Sistema de Administracion del Personal tiene por objeto efectuar el seguimiento 
    		a la persona que tiene el cuidado y acompañamiento al paciente.
    		Aqui se gestiona la ficha con todos los antecedentes del asistente al paciente. Además se controlan los turnos, lugares de la prestación y los honorarios correspondientes. Se mantiene también los antecedentes del paciente y su respectivo apoderado. 
    	</article>
    </div>


    <br>
    
    </section>

{% endblock %}  

